# source
lib
src
tests
index.ts
package-lock.json
tslint.json
tsconfig.json
.prettierrc
tsconfig.tsbuildinfo

# github
.github
CONTRIBUTING.md
renovate.json

# misc
.commitlintrc.json
.release-it.json
.eslintignore
.eslintrc.js
docker-compose.yml
.circleci/